h1 {
  text-align: center;
}

.to-do-item {
  display: flex;
}
.to-do-item--important {
  background-color: rgb(255, 166, 154);
}
.to-do-item :first-child {
  flex-grow: 1;
}
.todo-item--edit {
  display: flex;
}